# Proxy settings for HTTP connections
#proxy=http://127.0.0.1:9666

# Proxy settings for HTTPS connections
# Even though Ultrasurf listens on an HTTP address, it tunnels HTTPS traffic.
# So, for npm to use it for secure connections, point https-proxy to the local HTTP address.
#https-proxy=http://127.0.0.1:9666

# Optional: If you encounter SELF_SIGNED_CERT_IN_CHAIN errors consistently
# after configuring the proxy, and *only as a last resort*, you might
# temporarily set strict-ssl to false.
# BE AWARE: This is INSECURE and should be reverted as soon as possible.
# strict-ssl=false
